---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import BaseCard from "@/components/BaseCard.astro";
import LinkCard from "@/components/mdx/LinkCard.astro";
import FriendCard from "@/components/mdx/FriendCard.astro";
import Card from "@/components/temple/Card.astro";
import CardGroup from "@/components/temple/CardGroup.astro";
import Showcase from "@/components/mdx/Showcase.astro";

const sites = [{ name: "BaiYu Demo", url: "https://7rain.top" }];
---

<BaseLayout title="Friends">
  <CardGroup cols="1">
    <MainCard
      infoIcon="lucide:link"
    >
      <div class="space-y-10">
        <!-- Friends Section -->
        <section>
          <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
            <Icon name="lucide:users" class="w-6 h-6 text-primary" />
            <span>Friends</span>
          </h2>

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <FriendCard
              name="Yitong"
              avatar="https://blog.ytmc.fun/_astro/avatar.dBVmALIO_ZPwU2W.webp"
              description="Just a noob."
              url="https://blog.ytmc.fun/"
              type="friend"
            />
            <FriendCard
              name="下完这场雨"
              avatar="https://s2.loli.net/2025/10/07/bZuUVeqrSn5mYjD.jpg"
              description="miumiumiu"
              url=""
              type="friend"
            />
          </div>
          <div class="divider my-8">
            <Icon name="lucide:heart" class="w-10 h-10 text-primary" />
          </div>
        </section>
      </div>
    </MainCard>
    
  </CardGroup>
</BaseLayout>
